.home-manage h3{
font-weight: 500;
font-size: 50px;
}
.home-manage{
    margin-top: 10px;
    padding-left: 10px;
}
.home-manage .duty{
    font-weight: 500;
    font-size: 50px;
    color: purple;
}
.home-manage p{
font-weight: 400;
font-size: 20px;
width: 370px;
height: 153px;
}
.home-manage button{
    width: 201px;
    height: 50px;
    border-radius: 8px;
    background-color: #974FD0;
    color: white;
    font-weight: 500;
    font-size: 24px;
    border: none;
    margin-top: 20px;
}

.home-img{
    margin-top: 20px;
    width: 418px;
    height: 396px;
}
@media (max-width:320px) {
    .goat{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        padding: 30px 10px;
        overflow: hidden;
    }
    .home-manage h3{
        font-size: 30px;
    }
     .home-manage{
        width: 100%;
     }
      .home-manage p{
        text-align: left;
        width: 100%;
        height: 200px;
        padding-left: 10px;
      }
      .home-manage button{
        width: 180px;
        margin: 30px 10px;
        height: 50px;
      }
      .home-manage .duty {
        font-size: 40px;
      }
      .home-img{
        width: 100%;
        height: 300px;
      }
      .home-img img{
        width:300px;
      }
}